
.loader {
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center;  
  z-index: 1;

  animation: disparition 3s;
  animation-fill-mode: forwards; 

     &__element {
      border-radius: 100%;
      border: 8px solid $primary-color;
      margin: calc(8px*2);

          &:nth-child(1)  {
            animation: preloader .6s ease-in-out alternate infinite ;
          }
           &:nth-child(2) {
            animation: preloader .6s ease-in-out alternate .2s infinite ;
           }         
           &:nth-child(3)  {
             animation: preloader .6s ease-in-out alternate .4s infinite ;         
          }  
    }   
}
    
@keyframes disparition {
    from{                   //0%
        visibility: visible;
    }
    to{                     //100%
        visibility: hidden;
    }
}

@keyframes preloader {
  100% { transform: scale(2); }
}


    

