:root {

 
  --size: 8px;
}
.loader {
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center;  
  z-index: 1;

  animation: disparition 3s;
  animation-fill-mode: forwards; 

     &__element {
      border-radius: 100%;
      border: var(--size) solid $primary-color;
      margin: calc(var(--size)*2);

          &:nth-child(1)  {
            animation: preloader .6s ease-in-out alternate infinite ;
          // animation: spin 2s linear infinite, fadeOutLoader .2s 1.9s forwards;
          //animation: preloader .6s ease-in-out alternate .2s infinite;
          }
           &:nth-child(2) {
            animation: preloader .6s ease-in-out alternate .2s infinite ;
           }         
           &:nth-child(3)  {
             animation: preloader .6s ease-in-out alternate .4s infinite ;         
          }  

    }
  
   
    
   // animation: OutLoader 1s forwards 2s;
    
}
    
@keyframes disparition {
    from{                   //0%
        visibility: visible;
    }
    to{                     //100%
        visibility: hidden;
    }
}

// Fade In Content
//  .loader__end {
//   opacity: 0;
//    animation: InContent 1s forwards 2s;
//  }
  
// Animations

@keyframes InContent {
  0% { opacity: 0; }
  100% { opacity: 1; }

}
  @keyframes OutLoader {
    0% { opacity: 1; }
    100% { opacity: 0;}
  }
    

  @keyframes preloader {
    100% { transform: scale(2); }
  }
