
.main-container{

    @media (min-width: $tablet-max) {
        
        display: flex;
        flex-direction: column;
        align-items: center;            
    }

    @media (min-width: $max-width) {
       
        display: flex;
        flex-direction: column;
        align-items: center;
      }
}


.image{

    &__restaurant{
        height:275px;
        object-fit: cover;
        width: 100%;
       
    }
    @media (min-width: $tablet-max) {
        
        width: 100%;
        &__resto1{
            height:495px;                  
        }         
    }
    @media (min-width: $max-width) {
        width: 100%;
        &__resto1{
            height:495px;                  
        }
      }
   
}

.menu{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $senary-color   ;
    border-radius: 40px 40px 0 0;
    gap:40px;
    margin-top: -50px;
    padding: 30px 17px;
    
    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

      }
      &--subtitle {
        padding-bottom: 10px;
        position: relative;
   
        &::after {   //ligne verte en dessous des subtitle
            content: '';
            background: $tertiary-color;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 5%;
        }
    }

   &__restaurant{
    display: flex;
    flex-direction: column;
    background-color: $senary-color ;
    gap:22px; 
  
        &__section{
            display: flex;
            flex-direction: column;
            background-color: $senary-color ;
            gap:12px;
        
        }
    }
 
 //}

 



    &__btn{
        padding: 16px 49px;
        width: fit-content;
        margin: auto;
    }

    @media (min-width: $tablet-max) {
        
        justify-content: center;
        width: 700px; 
        align-items: center;
          
        &__header {
         gap:24px;
  
        }
        &__restaurant{
          width: 600px;
        }
            
    }

    @media (min-width: $max-width) {
        
      justify-content: center;
      width: 1055px; 
      align-items: center;
        
      &__header {
       gap:24px;

      }
      &__restaurant{
        width: 634px;
      }

    }



}



.items {
    &__meals {

        overflow: hidden;
        height: 69px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        &--content {
            display: flex;
            flex-direction: column;
            flex: 2;
            padding: 15px;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.meals {

    &__title,
    &__subtitle {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__cart {


        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $tertiary-color;

        height: 100%;
        width: 4em;
        margin-right: -4em;

        border-radius: 0 15px 15px 0;
        transition: 700ms ease;

        &__icone {
            color: white;
            font-size: 25px;
        }
    }

    .items__meals:hover &__cart {
        margin-right: 0em;
    }

    &__price {
        padding: 0 15px 15px 15px;
    }
}

@for $i from 0 through 2 {
    
    .#{nth(('entree', 'plat', 'dessert'), $i + 1)} {
      @include appearAnim($i * .7s);
    }
  }